html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

/* FONTS */
/* Header */
h1 {
  font-family: 'Iceberg', cursive;
  font-size: 5rem;
  text-align: center;
  color: #F5E000;
    /* color: #273878; */
  text-shadow: 5px 5px #000;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: #273878; */
    /* -webkit-text-stroke-color: #F5E000; */

}

/* Body/Paragraph */
  /* font-family: 'Barlow', sans-serif; */

/* SITE COLOURS */
  /* yellow: #D5C300 */
  /* dark blue: #273878 */
  /* pastel green: #E5FECC */
  /* lemon yellow crayola: #FFF799 */

/* Font Styles */

body {
  font-size: 1rem;
  position: relative;
  padding-bottom: 15%;
  min-height: 100vh;
  background-color: #273878;
}

h2, h3, h4 {
  font-family: 'Iceberg', cursive;
}

p {
  font-family: 'Barlow', sans-serif;
}

/* Error Flag on UserInfo component */

.errorFlag{
  color: red;
}

.hidden {
  display: none;
}


/* Header Styles */
.introduction  {
  position: relative;
  height: 80vh;
  width: 100%; 
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bubble {
  height: 100%;
  width: 100%;
}

.openingText {
  position: absolute;
  top: 13vh;
  left: 15%;
  font-size: 1.5rem;
  color: #273878;
  width: 70%;
}

.openingText p {
    padding-bottom: 20px;
}


/* Pokemon Selection Styles */
.pokemonSuggestion {
  display: flex;
}

.pokemonSuggestion img {
  max-width: 80%;
}

.textAndButton {
  margin-top: 125px;
}

.textAndButton p {
  font-size: 1.4rem;
}


/* Footer Styles */

footer {
  background-color: #273878;
  color: #FFF;
  text-align: center;
  padding: 2% 0%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #FFF799;
  text-decoration: none;
  padding-bottom: 2px;
}

footer a:hover,
footer a:focus {
  border-bottom: 2px solid #FFF799;
}

.portfolioLinks {
  margin-top: 5px;
}